<div class="container">
<h1>Stupid Coaching</h1>
<%= @question%>
<p class="author">- You</p>
<br>
<%= @answer %>
<p class="author">- Your stupid coach</p>
<br>
<%= link_to "Ask a new question", ask_path %>
</div>
