<div class="container">
<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<p style="font-style: italic">Hint: Try Brooklyn!</p>
<form class = "row g-3" action="/answer" data-turbo="false">
  <div class="col-auto">
    <input type="text" name="question" class="form-control" placeholder="Question?">
</div>
 <div class="col-auto">
    <input type="submit" value="Ask!" class="btn btn-primary mb-3">
  </div>
</form>
</div>
